<%= image_tag @image.image_path.url(:large) %>

<div class="">
  <% @image.comments.each do |comment| %>
    <div>
      <%= comment.content %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Add Comment</h3>
    <%= form_for [@image, @comment], url:image_comments_path(@image, @comment), html: { multipart: true } do |form| %>
      <%= form.label :content %>
      <%= form.text_field :content %>
      <%= form.submit %>
    <% end %>
  </div>

  <div class="col-md-6">
    <h3>Tags</h3>
    <ul>
      <% @image.tags.each do |tag| %>
        <li><%= link_to tag.name, tag_path(tag) %></li>
      <% end %>
    </ul>
  </div>
</div>
